.ControlPanel {
  position: absolute;
  background-color: transparent;
  z-index: 400;
  transition: transform 0.1s ease-in-out;
  bottom: 0;
}

.ControlPanel__active {
  display: block;
  transform: translateY(-4.9vh);
}
