.ControlPanel {
  position: absolute;
  background-color: transparent;
  z-index: 1900;
  transition: transform 0.1s ease-in-out;
}

.ControlPanel__active {
  display: block;
  transform: translateY(calc(-100% - 5vh));
}
