// Header Red Container
.TU--Red {
  background-color: var(--tu-red);
  color: var(--tu-on-red);
}

.TitleBox {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2000;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Logo Container (Left)
.logo-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.logo-container img {
  height: 100%;
}

.logo-container .logo {
  margin: 0 5%;
}

.logo-container .title {
  height: 100%;
  display: flex;
}

.logo-container .title h3 {
  margin: 0;
  font-size: 2.5em;
  align-self: center;
  color: white;
}

// Info Container (Right)

.right-container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
}

.info-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 45%;
}

.clock-container {
  align-self: center;
}

.clock-container .date {
  font-size: 2em;
}

.clock-container .time {
  font-size: 2em;
}

.forecast-container {
  margin: 0 5%;
  align-self: center;
}

.weather-container {
  margin: 0 5%;
  align-self: center;
}

.temp-container {
  display: flex;
  flex-direction: row;
  margin: 20% 0;
}

.temp-container .temp-icon {
  margin: 0 10%;
}

.rain-container {
  display: flex;
  flex-direction: row;
  margin: 20% 0;
}

.rain-container .rain-icon {
  margin: 0 10%;
}
