@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --tu-red: #c3002f;
  --tu-on-red: #fff;

  --tu-yellow: #ffd13f;
  --tu-on-yellow: #000;

  --link: #0645ad;
}

.TU--Red {
  background-color: var(--tu-red);
  color: var(--tu-on-red);
}

.TU--Yellow {
  background-color: var(--tu-yellow);
  color: var(--tu-on-yellow);
}
/* Helper */
.inline-block {
  display: inline-block;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
  font-size: 13px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  top: 10vh;
  height: 85vh;
  width: 100%;
  margin: 0;
}

.ant-form-item {
  margin-bottom: 0.5em;
}
