:root {
  --tu-red: #C3002F;
  --tu-on-red: #fff;
}

.TU--red {
  background-color: var(--tu-red);
  color: var(--tu-on-red);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.leaflet-bottom {
  bottom: 5% !important;
}